{% extends "base.html" %}

{% block title %}
    {% if userToView %}
        {{ userToView.first_name }}'s Profile
    {% else %}
        User Not Found
    {% endif %}
{% endblock %}

{% block content %}

{% if error %}
<strong>{{ error }}</strong>
{% else %}
<div class="large-3 columns">
    <div class="panel">
        <div class="row sidebar">
            <div class="large-12 columns">
                <a href="#" class="th radius margin-large tb">
                    {% if userToView.userprofile.profile_picture %}
                        <img src="/{{ userToView.userprofile.profile_picture.url }}" />
                    {% else %}
                        <img src="/static/img/placeholders/donatello.jpg" />
                    {% endif %}
                </a>

                <h4 class="subheader">
                    <a href="#">{{ userToView.first_name }} {{ userToView.last_name }}</a>
                </h4>
                <dl>
                    <dt>Gender</dt>
                    {% if userToView.userprofile.gender %}
                        <dd>{{ userToView.userprofile.gender }}</dd>
                    {% else %}
                        <dd>???</dd>
                    {% endif %}

                    <dt>Birthday</dt>
                    {% if userToView.userprofile.birthday %}
                        <dd>{{ userToView.userprofile.birthday }}</dd>
                    {% else %}
                        <dd>???</dd>
                    {% endif %}
                    <dt>Member Since</dt>
                    <dd>{{ userToView.userprofile.created }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
