{% extends "base.html" %}

{% block title %}The Social Network{% endblock %}

{% block content %}

<div class="large-3 columns">
    <div class="panel">
        <div class="row sidebar">
            <div class="large-12 columns">
                <a href="#" class="th radius margin-large tb">
                    {% if user.userprofile.profile_picture %}
                        <img src="/{{ user.userprofile.profile_picture.url }}" />
                    {% else %}
                        <img src="/static/img/placeholders/donatello.jpg" />
                    {% endif %}
                </a>

                <h4 class="subheader">
                    <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
                </h4>
                <dl>
                    <dt>Gender</dt>
                    {% if user.userprofile.gender %}
                        <dd>{{ user.userprofile.gender }}</dd>
                    {% else %}
                        <dd>???</dd>
                    {% endif %}

                    <dt>Birthday</dt>
                    {% if user.userprofile.birthday %}
                        <dd>{{ user.userprofile.birthday }}</dd>
                    {% else %}
                        <dd>???</dd>
                    {% endif %}
                    <dt>Member Since</dt>
                    <dd>{{ user.userprofile.created }}</dd>
                </dl>
                <a href="{% url 'profiles:edit' %}">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

<div class="large-9 columns">
    <div class="row">
        <h3 class="subheader">Newsfeed</h3>

        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label for="statusUpdate">Status Update</label>
                    <input id="statusUpdate" name="statusUpdate" type="text" placeholder="Let the world know what you think.">
                </div>
            </div>
        </form>
    </div>

    {% for status in statuses %}
    <div class="row">
        <div class="large-2 columns small-3">
            {% if status.user.userprofile.profile_picture %}
            <img src="/{{ status.user.userprofile.profile_picture.url }}" />
            {% else %}
            <img src="/static/img/placeholders/donatello.jpg" />
            {% endif %}
        </div>

        <div class="large-10 columns">
            <p>
                <strong>{{ status.user.first_name }} {{status.user.last_name }} said:</strong> {{ status.status.content }}
            </p>
            <p>
            at {{ status.created }}.
            </p>

            <ul class="inline-list">
                <li><a href="">Reply</a></li>
                <li><a href="">Share</a></li>
            </ul>
        </div>
    </div>

    <hr />
    {% endfor %}
</div>
{% endblock %}
