body {
    font-family: "Rokkitt", cursive;
}

h1 {
    color: #303030;
    font-size: 36pt;
    text-shadow: 2px 2px #808080;
}

#social {
    color: #404040;
    font-size: 42pt;
}

#title1 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#title2 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#fields {
    width: 100%;
    margin-left: 50%;
    margin-right: 50%;
}

#submit {
    width: 100%;
    margin-left: 50%;
    margin-right: 50%;
}
body {
    background: white url("images/login_bg.jpg");
}
