{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}

<div class="large-12 columns">
    <h3 class="subheader">Message Inbox</h3>
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-2 columns">
                    <dl class="tabs vertical">
                    {% for thread in threads %}
                        <dd{% if current_thread == thread.0 %} class="active"{% endif %}><a href="/messages/{{ thread.0 }}">{{ thread.1|add:" "|add:thread.2 }}</a></dd>
                    {% endfor %}
                    {% if threads|length == 0 %}
                        <dd><a href="#"><em>Empty</em></a></dd>
                    {% endif %}
                    </dl>
                </div>
                <div class="large-10 columns">
                    <div class="content active">
                {% for message in messages %}
                        <div class="message clear">
                            <img width="50" src="/static/img/placeholders/leonardo-thumb.jpg" />

                            <div class="message-content">
                                <span><strong>{{ message.sender.user.first_name }} {{ message.sender.user.last_name }}</strong></span>
                                <p>
                                {{ message.content }}
                                </p>
                            </div>
                        </div>
                {% endfor %}
                {% if messages|length == 0 %}
                        <div class="message clear">
                            <div class="message-content">
                                <p>
                                    Your inbox is empty... :(
                                </p>
                            </div>
                        </div>
                {% endif %}

                        <div class="row">
                            <div class="large-12 columns">
                                <form action="{{ action }}" method="post">
                                    {% csrf_token %}
                                    <ul>
                                        {{ message_form.content }}
                                    </ul>
                                    <input type="hidden" name="recipient" value="{{ current_thread }}" />
                                    <input type="submit" class="button right" value="Send">
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
