{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}

<div class="large-12 columns">
    <h3 class="subheader">Message Inbox</h3>
    <div class="row">
        <div class="large-12 columns">
                <dl class="tabs vertical" data-tab>
                {% for thread in threads %}
                    <dd{% if current_thread == thread %} class="active"{% endif %}><a href="/messages/thread">{{ thread }}</a></dd>
                {% endfor %}
                </dl>
                <div class="tabs-content vertical">
                    <div class="content active" id="leonardo">
                    {% for message in messages %}
                        <div class="received row">
                            <div class="large-2 columns small-3">
                                <img width="50" src="/static/img/placeholders/leonardo-thumb.jpg" />
                            </div>

                            <div class="large-10 columns small-3">
                                <span><strong>Leonardo:</strong></span>
                                <p>
                                Bacon ipsum dolor sit amet nulla ham qui sint
                                exercitation eiusmod commodo, chuck duis velit. Aute in
                                reprehenderit
                                </p>
                            </div>
                        </div>

                        <div class="sent row">
                            <div class="large-10 columns small-3">
                                <span><strong>You:</strong></span>
                                <p>
                                Bacon ipsum dolor sit amet nulla ham qui sint
                                exercitation eiusmod commodo, chuck duis velit. Aute in
                                reprehenderit
                                </p>
                            </div>

                            <div class="large-2 columns small-3">
                                <img width="50" src="/static/img/placeholders/donatello-thumb.jpg" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns">
                                <form action="{{ action }}" method="POST">
                                    {% csrf_token %}
                                    <ul>
                                        {{ message_form.as_ul }}
                                    </ul>
                                    <input type="submit" value="Save" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="shredder">
                        <p>Panel 2 content goes here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
