<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/lib/normalize/normalize.css" />
    <link rel="stylesheet" href="/static/lib/foundation/css/foundation.min.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
    {% block css %}{% endblock %}

</head>
<body>

    <div class="row">
        <nav class="row">
            <div class="large-12 columns">
                <h2>The Social Network</h2>
                <ul class="button-group radius even-4">
                    <li><a class="button" href="#">Maine Coon</a></li>
                    <li><a class="button" href="#">Turkish Angora</a></li>
                    <li><a class="button" href="#">Russian Blue</a></li>
                    <li><a class="button" href="#">Scottish Fold</a></li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/lib/foundation/js/foundation.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>
