<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The Social Network</title>

    <link rel="stylesheet" href="/lib/normalize/normalize.css" />
    <link rel="stylesheet" href="/lib/foundation/css/foundation.css" />

    <link rel="stylesheet" href="/css/app.css" />

</head>
<body>

    <h1>The Social Network</h1>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/lib/foundation/js/foundation.min.js"></script>
</body>
</html>
