.row .row.content {
    margin: 2em 0;
}

.nav {
    margin: 1.4em 0;
    background-color: #2ba6cb;
    height: 50px;

    -webkit-box-shadow: 0px 4px 0px #2284a1;
       -moz-box-shadow: 0px 4px 0px #2284a1;
            box-shadow: 0px 4px 0px #2284a1;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.nav .nav-element {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0.75em;
    color: rgba(255, 255, 255, 1);
    line-height: 50px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: none;
            box-shadow: none;
}

.nav .nav-element.button.main {
    font-size: 1.1em;
    text-align: center;
    text-transform: none;
}

.nav .nav-element.button {
    text-transform: uppercase;
}

.nav .nav-element.button:hover {
    background-color: #2284a1;
}

.nav .nav-element.button:active {
    background-color: #2284a1;
}

.padding-large.tb {
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
}

.padding-large.lr {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

.margin-large.tb {
    margin-top: 0.9375em;
    margin-bottom: 0.9375em;
}

.margin-large.lr {
    margin-left: 0.9375em;
    margin-right: 0.9375em;
}

.margin-small.tb {
    margin-top: 0.6375em;
    margin-bottom: 0.6375em;
}

.margin-small.lr {
    margin-left: 0.6375em;
    margin-right: 0.6375em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #fafafa;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.clear:before, .clear:after {
    display: table;
    line-height: 0;
    content: "";
}

.clear:after {
    clear: both;
}

.message {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 1.25em;
    padding: .25em;
}

.message > img {
    float: left;
}

.message > .message-content {
    float: left;
    padding: 0 .8em;
}

.tabs.vertical {
    width: auto;
}
