.nav {
    margin: 1.4em 0;
}

.nav .nav-element {
    padding: 0;
    margin: 0;
    border: 0;
    background: #2ba6cb;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    font-size: 0.75em;
    color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 4px 0px #2284a1;
    -moz-box-shadow: 0px 4px 0px #2284a1;
    box-shadow: 0px 4px 0px #2284a1;
    height: 50px;
    line-height: 50px;
}

.nav .nav-element.button.main {
    font-size: 1.1em;
    text-transform: none;
    text-align: center;
}

.nav .nav-element.button {
    text-transform: uppercase;
}

.nav .nav-element.button:hover {
    background-color: #2284a1;
}

.nav .nav-element.button:active {
    background-color: #2284a1;
}

.padding-large.tb {
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
}

.padding-large.lr {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

.margin-large.tb {
    margin-top: 0.9375em;
    margin-bottom: 0.9375em;
}

.margin-large.lr {
    margin-left: 0.9375em;
    margin-right: 0.9375em;
}

.margin-small.tb {
    margin-top: 0.6375em;
    margin-bottom: 0.6375em;
}

.margin-small.lr {
    margin-left: 0.6375em;
    margin-right: 0.6375em;
}
