{% extends "base.html" %}

{% block title %}
    {{ user.first_name }}'s Friends
{% endblock %}

{% block content %}

<div class="large-8 small-centered columns">

    <div class="large-12 columns">
        <form action="" method="post">
            {% csrf_token %}

            <h3 class="subheader">Friends</h3>
            <label for="statusUpdate">Add Friend</label>
            <input id="addFriend" name="friend_name" type="text" placeholder="Enter username to add friend.">
            {% if error %}
            <strong>{{ error }}</strong>
            {% endif %}
        </form>
    </div>

    {% for friend in friends %}
    <div class="large-2 columns small-3">
        {% if friend.userprofile.profile_picture %}
        <img src="/{{ friend.userprofile.profile_picture.url }}" />
        {% else %}
        <img src="/static/img/placeholders/donatello.jpg" />
        {% endif %}
    </div>

    <div class="large-10 columns">
        <h4>{{ friend.first_name }} {{ friend.last_name }}</h4>
        <ul class="inline-list">
            <li><a href="/profiles/{{ friend.username }}">Profile</a></li>
            <li><a href="/messages/new/{{ friend.pk }}">Message</a></li>
        </ul>
    </div>

    <hr />
    {% endfor %}
</div>
{% endblock %}
