{% extends "base.html" %}

{% block title %}
    {{ user.first_name }}'s Friends
{% endblock %}

{% block content %}

<div 
<div class="large-9 columns">
    <div class="row">
        <h3 class="subheader">Friends</h3>

        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label for="statusUpdate">Add Friend</label>
                    <input id="addFriend" name="addFriend" type="text" placeholder="Enter username to add friend.">
                    {% if error %}
                    <strong>{{ error }}</strong>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    
    {% for friend in friends %}
    <div class="row">
        <div class="large-2 columns small-3">
            {% if friend.userprofile.profile_picture %}
            <img src="/{{ friend.userprofile.profile_picture.url }}" />
            {% else %}
            <img src="/static/img/placeholders/donatello.jpg" />
            {% endif %}
        </div>

        <div class="large-10 columns">
            <p><a href="/profiles/{{ friend.username }}">{{ friend.first_name }} {{ friend.last_name }}</a></p>
        </div>
    </div>

    <hr />
    {% endfor %}
</div>
{% endblock %}
